:root{--gold:#C6A66A;--dark:#111;--bg:#F7F5F0;}
body{background:var(--bg);}


.hero{
    position:relative;
    height:300px;
    overflow:hidden;
}

.hero-bg{
    position:absolute;
    inset:-30px;
    background:url("but.webp") center/cover no-repeat;
    transition:transform .15s ease-out;
    will-change:transform;
}

.hero-overlay{
    position:relative;
    z-index:2;
    height:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    background:rgba(0,0,0,.45);
}



.nav-link{color:#111}.nav-link:hover{color:var(--gold)}
.card{border-radius:18px}
h3{color:var(--gold)}


.form-control{
    border: 1px solid #C96C31;
}

.atafo-navbar{
    min-height:90px;
    padding:0 !important;
}

.atafo-navbar .container-fluid{
    padding-left:0 !important;
    padding-right:0 !important;
}

.navbar-brand{
    margin:0 !important;
    padding:0 !important;
}

.logo-img{
    width:200px;
    height:90px;
    object-fit:contain;
    display:block;
    margin:0 !important;
}


.hero h1,
.hero .lead{
    color: #fff;
}
.hero h1{
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    text-transform: uppercase;
}

.hero p{
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
}

@media (max-width:800px){

    .atafo-navbar .container-fluid{
        justify-content:space-between;
        padding-left:0 !important;
    }

    .navbar-brand{
        margin-left:-12px !important;
    }

    .logo-img{
        width:130px !important;
        height:auto !important;
    }

    .navbar-toggler{
        margin-right:30px;
    }

    .navbar-collapse{
        padding-left:15px;
    }

}

.menu-icon{
    color:#C96C31;
    font-size:2.4rem !important;
}

.navbar-toggler{
    border:1px solid #C96C31;
}

.navbar-toggler:focus{
    box-shadow:none;
}

